<div class="row">
    <div class="col-md-4">
        <form>
            <img class="mb-5" src="../../../../assets/logo/logo-casa.png">
            <div class="form-group mb-5">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email">
            </div>
            <div class="form-group mb-5">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-row mb-5">
                <div class="col">
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Lembra dados</label>
                    </div>
                </div>
                <div class="col">
                    <a class="btn" href="">Esqueceu sua senha</a>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
        </form>
    </div>
    <div class="col-md-8">
        <h1>AeR</h1>
        <h2>Corretores</h2>
    </div>
</div>