<nav class="navbar navbar-expand-lg navbar-light">
    <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping"><i class="fas fa-search"></i></span>
        </div>
        <input id="search"  type="text" class="form-control" placeholder="Buscar" aria-label="Username" aria-describedby="addon-wrapping">
    </div>

     <!-- Aluno -->
     <ul  class="nav ml-4">
        <li class="nav-item">
            <a class="nav-link">Cadastro</a>
        </li>
    </ul>
</nav>