.navbar {
    height: 75px;
    background: darkgreen;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.16);
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    text-decoration: none;
    color: white;
}

.nav-item {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    text-decoration: none;
}

.fas {
    font-size: 30px;
}