<div id="viewport">
    <!-- Sidebar -->
    <div id="sidebar">
        <header></header>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="#" id="sidebar-nav-title">Navegação</a>
            </li>
            <li class="list-group-item sidebar-item">
                <a><i class="fas fa-briefcase"></i>Inicio</a>
            </li>
            <li class="list-group-item sidebar-item">
                <a><i class="fas fa-users"></i>Clientes</a>
            </li>
            <li class="list-group-item sidebar-item">
                <a><i class="fas fa-home"></i>Imoveis</a>
            </li>
            <li class="list-group-item sidebar-item">
                <a><i class="fas fa-file-signature"></i>Contratos</a>
            </li>
        </ul>
        <!-- Fim Sidebar -->
    </div>
    <!-- Conteudo da Pagina -->
    <div class="content">

    </div>
</div>